*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

a:active {
  border: 10px dotted grey;
}

a:focus {
  border: 0px dotted grey;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-port) {
    font-size: 52.5%;
  }

  @include respond(phone) {
    font-size: 42.5%;
  }
}

body {
  box-sizing: border-box;
}